Brewfile.*.lock.json
secrets.*
credentials.*
.pkrvars.hcl
*.pkrvars.hcl
.nvimlog
.env

themes/
zsh/custom/

# Local files.
# might contain sensitive information
*.local.*

# Local dotfile notes
[Nn]ote[s]/*
