[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "meta/plugins/sudo"]
	path = meta/plugins/sudo
	url = https://github.com/DrDynamic/dotbot-sudo.git
[submodule "meta/plugins/dotbot-git"]
	path = meta/plugins/dotbot-git
  url = https://github.com/DrDynamic/dotbot-git.git
[submodule "ansible"]
	path = ansible
	url = https://github.com/daephx/ansible.git
[submodule "meta/plugins/git"]
	path = meta/plugins/git
	url = https://github.com/DrDynamic/dotbot-git.git
