# General
*.pkrvars.hcl
.env
.pkrvars.hcl
Brewfile.*.lock.json
credentials.*
secrets.*

# Local files.
# might contain sensitive information
*.local.*

# Local git worktrees directory
.worktrees/

# Temporary files
.[Tt]emp/

# Git sensitive config files
config/git/credential

# Local notes
TODO.md
notes/
