# Dotbot
[submodule "meta/dotbot"]
  path = meta/dotbot
  url = https://github.com/anishathalye/dotbot.git

# Configs
[submodule "config/nvim"]
  path = config/nvim
  url = https://github.com/daephx/nvim.git
  branch = main
